:root {
  --primary-color: #c9daea;
  --text-color: #2e282a;
  --secondary-color: #cb769e;
}

/**********************/
/* GENERAL STYLES */
/**********************/

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--secondary-color);
  font-family: lato, sans-serif;
  color: #333;
  padding: 0 3.2rem;
}

main {
  max-width: 80rem;
  background-color: var(--primary-color);
  padding: 2.4rem 9.6rem;
  margin: 4.8rem auto;
}

.heading {
  font-weight: 900;
  text-align: center;
  color: var(--text-color);

  margin-bottom: 3.2rem;
  font-size: 5.6rem;
}

/**********************/
/* INPUT */
/**********************/

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff;
}

.input-color-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;

  margin-bottom: 2.4rem;
}

.user-input-color {
  padding: 1.6rem 0.8rem;
  background-color: #eee;
}

.user-input-color::placeholder {
  font-family: inherit;
  color: #777;
}

/**********************/
/* CUSTOM TOGGLE BUTTON */
/**********************/

.custom-toggle-button {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.btn {
  border: none;
  cursor: pointer;
  min-width: 7rem;
  min-height: 3.2rem;
  border-radius: 10rem;

  transition: all 0.4s;
}

.btn .moving-ball {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fff;
  border-radius: 50%;

  transition: all 0.4s;
}

.btn-off {
  background-color: #868e96;
}

.btn-on {
  background-color: #339af0;
}

.btn-on .moving-ball {
  transform: translateX(3.4rem);
}

/**********************/
/* RANGE */
/**********************/

.range-box {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 700;
  gap: 1.2rem;

  margin-bottom: 2.4rem;
}

.range {
  align-self: start;
}

/**********************/
/* DISPLAY */
/**********************/

.display-input-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.display-input-color {
  padding: 3.2rem 1.6rem;
  background-color: #bc412b;
}

.display-altered-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-size: 1.8rem;
  font-weight: 700;
}

.display-altered-color {
  padding: 3.2rem 1.6rem;
  background-color: #d78d80;
}

/**********************/
/* FOOTER */
/**********************/

.gtihub-link:link,
.gtihub-link:active {
  color: inherit;
}

.github-link:hover,
.github-link:visited {
  color: inherit;
}

footer {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  color: #333;
}

/**********************/
/* MEDIA QUERIES */
/**********************/

/* width: 656px or below */
@media (max-width: 41em) {
  .heading {
    font-size: 3.2rem;
  }
}

/* width: 472px or below */
@media (max-width: 30em) {
  html {
    font-size: 37.5%;
  }

  .btn {
    padding-left: 0.5rem;
  }
}

@media (max-width: 19em) {
  .heading {
    font-size: 2.4rem;
  }

  .input-color-box,
  .range-box,
  .display-box,
  .custom-toggle-btn {
    font-size: 1.6rem;
  }

  .user-input-color::placeholder {
    font-size: 1.4rem;
  }

  .footer {
    font-size: 1.4rem;
  }
}
